# This is a basic workflow to help you get started with Actions

name: Teraform tests

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main

# Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  go-tests:
    name: Run Go Tests
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment:
      name: dev

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: show vars
        shell: bash

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: echo $AWS_ACCESS_KEY_ID

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1

        # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
      #- name: Setup Terraform
      #  uses: hashicorp/setup-terraform@v1


      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.7

      - name: Run terratest
        working-directory: test/
        run: go test
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
